.affiche{
    max-width: 400px;    
}

.card{
    display: flex;
    align-items: center;
}

.card-img{
    vertical-align: middle;
}

nav a img{
    max-width: 50px;
}

button{
    margin:5px;
}

select{
    margin: 5px;    
}