{# Ici, on va chercher le code de base html, qui génère une page html de base #}
{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{# Pour que du contenu s'affiche sur la page, c'est entre ces deux blocs #}
{% block body %}
<p>Il y a {{totalDuration}} minutes de recette sur le site!</p>
<ul>
    {% for recipe in recipes %}
    
    <li>
        <a href="{{path('recipe.show', {id: recipe.id, slug : recipe.slug})}}">{{recipe.title}}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
