{% extends 'base.html.twig' %}

{% block title %}Hello ExempleTwigController!{% endblock %}

{% block body %}

<h1>Ma vue sur les {{repas}}</h1>

<p>La sauce choisie: {{sauce}}</p>
<p>Du sel? {{sel}}</p>

<p></p>

{% endblock %}
