{% extends 'base.html.twig' %}

{% block title %}Hello ExempleTwigController!{% endblock %}

{% block body %}
<h1>Hi, {{person.name}}!</h1>
<p>You have a passion for {{person.hobby}}</p>

{% endblock %}
