{# Ici, on va chercher le code de base html, qui génère une page html de base #}
{% extends 'base.html.twig' %}

{# {% block title %}Hello HomeController!{% endblock %}

{# Pour que du contenu s'affiche sur la page, c'est entre ces deux blocs #}
{% block body %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate sit delectus eos dicta tempore odit qui architecto earum amet alias, quidem commodi aspernatur voluptatibus sint quos quis recusandae? Qui, cupiditate.
Reprehenderit, ipsa beatae dolorem dignissimos tempora dolorum numquam eaque placeat eum nulla dicta pariatur iste consequatur minima aliquam soluta repudiandae harum reiciendis autem culpa natus dolore at! At, ratione? Eos!
Consequatur incidunt culpa, nemo alias fuga quidem aliquam molestias asperiores numquam nulla autem repellat libero, voluptates cupiditate earum provident repellendus fugiat molestiae labore illo? Quam temporibus eius sed officia architecto.
Minima dolore itaque, quod fuga laborum eveniet fugiat dicta. Esse, nemo magni officiis architecto possimus, similique eum error repellat iste nihil, fugit sed blanditiis. Quidem illo vel provident sit fuga?
Alias similique voluptate adipisci odit dicta reprehenderit deserunt provident officia quas perferendis recusandae voluptatem dignissimos voluptatum quam accusantium minus, inventore illo modi sit consequatur sed soluta ullam? Rerum, excepturi quae.
Quisquam voluptatibus soluta distinctio culpa optio cumque inventore amet omnis aliquam similique animi nam magni odio temporibus voluptatum nostrum quo debitis, commodi, ratione harum eligendi nemo rerum incidunt veniam? Nobis!
Recusandae tempora odit repellendus impedit similique corporis amet distinctio reprehenderit, dolorem sit? Blanditiis libero veritatis dolore laborum est unde perferendis necessitatibus, illum ratione repellendus quo repellat, cum quos rerum incidunt?</p>

{% endblock %}
