{% extends 'base.html.twig' %}

{% block title %}Hello ExempleTwigController!{% endblock %}

{% block body %}
{# <h1>Calcul du prix  </h1> #}

<p>Le prix doublé de {{initialPrice}} euros est: {{dubbledPrice}} euros.</p>

{% if dubbledPrice  >= 100 %}

<p>T'es ruiné!</p>

{% endif %}

{% endblock %}
