{% extends 'base.html.twig' %}

{% block title %}Hello ExempleTwigController!{% endblock %}

{% block body %}
<h1>Calcul du prix TVAC</h1>

<p>Le prix TVAC de {{value}} euros est: {{tvac}} euros.</p>

{% endblock %}
